a {
  text-decoration: none;
}

.sticker {
  text-decoration: line-through;
}

.content {
  float: right;
  padding-left: 1em;
}

.box-text {
  text-align: center;
}

.admin-link {
  text-decoration: none;
  color: white;
}

.admin-link:hover {
  color: whitesmoke;
}
